<!DOCTYPE html>
<html>
<head>
    <title>Account Added</title>
</head>
<body>
<h1>Account Added Successfully!</h1>
<p>{{message}}</p>
<a href="/bank/addAccountForm">Add Another Account</a>
</body>
</html>